extends layout

block content
	core-header-panel
		core-toolbar
			paper-tabs(selected="all", valueattr="name", self-end)
				paper-tab(name="monitor") Monitor
				paper-tab(name="game") Game
		.container(center)
			.tools
				paper-button#drone-near Drone 'near
				paper-button#drone-far Drone 'far'
				paper-button#drone-immediate Drone 'immediate'
				paper-button#station Send station event
			#log
		#game-container(style="display: none")
			#stations.clearfix
			#map
				google-map(latitude='47.670162', longitude='8.95015', disableDefaultUI, showCenterMarker, zoom='15')
			#ranking
				fli-ranking

	
	script(src="/socket.io/socket.io.js")
	script(src="javascripts/client.js")
	script(src="javascripts/monitor.js")
	script(src="javascripts/map.js")
