extends layout

block content
	core-header-panel
		core-toolbar
			paper-tabs(selected="all", valueattr="name", self-end)
				paper-tab(name="monitor") Monitor
				paper-tab(name="game") Game
		.container(center)
			.tools
				paper-button#station Register base station
				paper-button#drone-dialog Show Drone dialog
				paper-dialog#drone(opened="false")
					h1 Drone-event
					.row
						paper-radio-group#type(selected="entered")
							paper-radio-button(name="entered", label="entered")
							paper-radio-button(name="moved", label="moved")
							paper-radio-button(name="removed", label="removed")
					.row
						paper-radio-group#proximity(selected="far")
							paper-radio-button(name="far", label="far")
							paper-radio-button(name="near", label="near")
							paper-radio-button(name="immediate", label="immediate")
					.row
						paper-input(id="baseStationId", value="Station-1")
					.row
						paper-input(id="distance", value="2")
					.row
						paper-input(id="beaconUuid", value="B9407F30-F5F8-466E-AFF9-25556B57FE6D")
					.row
						paper-input(id="beaconMajor", value=51881)
					.row
						paper-input(id="beaconMinor", value=16836)
					.row
						paper-button#send-drone(label="send drone event")
			#log
		#game-container(style="display: none")
			#ranking
				fli-ranking
			#stations.clearfix
			#map
				google-map(latitude='47.670162', longitude='8.95015', zoom='14', fitToMarkers)

	
	script(src="/socket.io/socket.io.js")
	script(src="javascripts/client.js")
	script(src="javascripts/monitor.js")
	script(src="javascripts/map.js")
