extends layout

block content
	core-header-panel
		core-toolbar
			paper-tabs(selected="game", valueattr="name", self-end)
				paper-tab(name="game") Game
				paper-tab(name="monitor") Monitor
		#game-container
			#status
				#stations.clearfix
				#ranking
					fli-ranking
				#livefeed
					fli-livefeed
			#map
				fli-map
		.container(center)(style="display: none")
			.tools
				paper-button#station Register base station
				paper-button#drone-dialog Show Drone dialog
				paper-dialog#drone(opened="false")
					h1 Drone-event
					.row
						paper-radio-group#type(selected="entered")
							paper-radio-button(name="entered", label="entered")
							paper-radio-button(name="moved", label="moved")
							paper-radio-button(name="removed", label="removed")
					.row
						paper-radio-group#proximity(selected="far")
							paper-radio-button(name="far", label="far")
							paper-radio-button(name="near", label="near")
							paper-radio-button(name="immediate", label="immediate")
					.row
						paper-input(id="baseStationId", value="id-1")
					.row
						paper-input(id="distance", value="2")
					.row
						paper-input(id="beaconUuid", value="B9407F30-F5F8-466E-AFF9-25556B57FE6D")
					.row
						paper-input(id="beaconMajor", value=51881)
					.row
						paper-input(id="beaconMinor", value=16836)
					.row
						paper-button#send-drone(label="send drone event")
			#log
	
	script(src="/socket.io/socket.io.js")
	script(src="javascripts/client.js")
	script(src="javascripts/monitor.js")
